<style>
    @media only screen and (max-width: 360px){
        h5 {
            font-size: 15px;
        }
        p, span, small, h6 {
            font-size: 12px;
        }
        button {
            width: 100px;
        }
        button span {
            font-size: 10px;
        }
    }
    @media only screen and (max-width: 460px){
        h5 {
            font-size: 17px;
        }
        p, span, small, h6 {
            font-size: 14px;
        }
        button {
            width: 120px;
        }
        button span {
            font-size: 13px;
        }
    }
</style>

<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6 mt-2">

                <div class="card" style="border-radius: 10px;">
                    <div class="card-header">
                        <h5 class="mb-1">{{accountDetails.name}}</h5>
                        <p class="mb-0">{{accountDetails.email}}</p>
                        <small class="text-muted mb-0">Order Id: {{orderDetails.orders._id}}</small>
                    </div>
                    <div class="card-body">
                        <h5>Products</h5>
                        {{#each orderDetails.productDetails}}
                        <div class="card rounded-3 mb-1 shadow-sm">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-start ">
                                    <div class="col-md-6 col-lg-9 col-xl-9">
                                        <h5 class="fw-bold mb-1">{{this.title}}</h5>
                                        <span class="text-muted">Product ID: <span
                                                class="text-dark">{{this._id}}</span></span>
                                        <p class="text-muted mb-1">Category: <span
                                                class="text-dark">{{this.category}}</span></p>
                                        <p class="text-muted mb-1">Des: <span
                                                class="text-dark">{{this.description}}</span></p>
                                        <p class="text-muted mb-1">Price: <span class="text-dark">{{priceInIndianFormat
                                                this.price}}</span></p>
                                        <p class="text-muted mb-1">Payment: <span
                                                class="text-dark">{{../orderDetails.orders.paymentMethod}}</span></p>
                                        <p class="text-muted mb-1">Quantity: <span
                                                class="text-dark fw-bold">{{this.quantity}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-3">
                                        <img src="/images/product-images/{{this._id}}.jpg" class="img-fluid rounded-3"
                                            alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <div class="d-flex justify-content-end align-items-center mt-3">
                            <h6 class="me-3">Current status: <span
                                    class="{{checkStatus orderDetails.orders.status}}">{{compareStatus
                                    orderDetails.orders.status}}</span></h6>
                            <button 
                                onclick="changeStatus('{{orderDetails.orders._id}}')" 
                                class="btn btn-primary" 
                                data-mdb-toggle="modal" 
                                data-mdb-target="#changeStatusPopUp"
                                {{isDelivered orderDetails.orders.status}}><span>Update status</span></button>

                            <!-- Modal -->
                            <div class="modal fade" id="changeStatusPopUp" tabindex="-1"
                                aria-labelledby="changeStatusPopUpPopUpModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start text-black p-4 pt-0">
                                            <h5 class="mb-3">Change order status</h5>
                                            <p>Are you sure you want to update the order status?</p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-evenly border-top-0 py-4">
                                            <button class="btn btn-primary btn-lg mb-1" data-mdb-dismiss="modal">
                                                CANCEL
                                            </button>
                                            <a id="confirmStatusChange" class="btn btn-danger btn-lg mb-1">
                                                UPDATE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mt-2">

                <div class="card" style="border-radius: 10px;">
                    <div class="card-header">
                        <h5 class="mb-1">Delivery address</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <h5>{{orderDetails.orders.deliveryAddress.fname}}
                                {{orderDetails.orders.deliveryAddress.lname}}</h5>
                            <p class="mb-1">{{orderDetails.orders.deliveryAddress.address}}</p>
                            <p class="mb-1">{{orderDetails.orders.deliveryAddress.city}}</p>
                            <p class="mb-1">{{orderDetails.orders.deliveryAddress.state}} -
                                {{orderDetails.orders.deliveryAddress.pincode}}</p>
                            <p class="mb-1">Phone number: {{orderDetails.orders.deliveryAddress.phone}}</p>
                        </div>
                    </div>
                </div>
                <div class="card mt-2" style="border-radius: 10px;">
                    <div class="card-header">
                        <h5 class="mb-1">Billing Details</h5>
                    </div>
                    <div class="card-body">
                        {{#each orderDetails.productDetails}}
                        <div class="border p-2 mt-2">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Selling price:</p>
                                <p class="mb-2">{{priceInIndianFormat this.price}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Total quantity:</p>
                                <p class="mb-2">{{this.quantity}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Shipping price:</p>
                                <p class="mb-2">{{priceInIndianFormat 0}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Total amount:</p>
                                <p class="mb-2">{{priceInIndianFormat (calcTotalprice this.price this.quantity)}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <h5>Grand total: {{priceInIndianFormat orderDetails.orders.totalAmount}}</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script>
    function changeStatus(id){
        $('#confirmStatusChange').attr("href",`/admin/all-orders/update-order-status/${id}`)
    }
</script>